.nuevo-documento-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Desplaza el contenido hacia abajo para evitar el header */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es muy largo */
    max-height: calc(100vh - 100px); /* Limita la altura máxima al 100% de la ventana menos el header */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dividir en columnas adaptables */
    gap: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}