#root {
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa todo el alto de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit; /* Usa el color definido en :root */
}

.card {
  padding: 2em;
  background: white; /* Asegura que las tarjetas tengan fondo blanco */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
